<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="5.0" xmlns=" http://xmlns.jcp.org/xml/ns/javaee/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ShoppingSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DoUserAdd</servlet-name>
		<servlet-class>com.q.servlet.DoUserAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUserAdd</servlet-name>
		<url-pattern>/ser/admin_douseradd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoUserDelete</servlet-name>
		<servlet-class>com.q.servlet.DoUserDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUserDelete</servlet-name>
		<url-pattern>/ser/admin_douserdelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoUserList</servlet-name>
		<servlet-class>com.q.servlet.DoUserList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUserList</servlet-name>
		<url-pattern>/ser/admin_douserlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoUserUpdate</servlet-name>
		<servlet-class>com.q.servlet.DoUserUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUserUpdate</servlet-name>
		<url-pattern>/ser/admin_douserupdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Make_Captcha_generation</servlet-name>
		<servlet-class>com.q.servlet.Make_Captcha_generation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Make_Captcha_generation</servlet-name>
		<url-pattern>/ser/getverify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUserIDIsSame</servlet-name>
		<servlet-class>com.q.servlet.RegisterUserIDIsSame</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserIDIsSame</servlet-name>
		<url-pattern>/ser/registeridsame</url-pattern>
	</servlet-mapping>
	<!-- 注册服务 -->
	<servlet>
		<servlet-name>RegisterUserAdd</servlet-name>
		<servlet-class>com.q.servlet.RegisterUserAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserAdd</servlet-name>
		<url-pattern>/ser/registeradd</url-pattern>
	</servlet-mapping>
	<!-- 注册过滤 -->
	<filter>
		<filter-name>RegisterUserFilter</filter-name>
		<filter-class>com.q.filter.RegisterUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterUserFilter</filter-name>
		<url-pattern>/ser/registeradd</url-pattern>
	</filter-mapping>
	<!--登录服务  -->
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>com.q.servlet.LogIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/ser/loginhome</url-pattern>
	</servlet-mapping>
	<!-- 登录注册 -->
	<filter>
		<filter-name>LoginUserFilter</filter-name>
		<filter-class>com.q.filter.LoginUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginUserFilter</filter-name>
		<url-pattern>/ser/loginhome</url-pattern>
	</filter-mapping>
</web-app>
